.ctg-items {
	--items: 6;
	--iconSz: 3.25rem;
	--pd: 1rem;
	--gap: 1.25rem;
	--bg: var(--clr-grey);
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);

	&:has(.title) {
		display: grid;
		grid-template-columns: repeat(var(--items), 1fr);
		gap: var(--gap);
		row-gap: var(--sp-md);
		.ctg-item {
			width: 100%;
		}
		& > .title {
			grid-column: span 2;
		}
		@include maxMedia(lg) {
			row-gap: var(--gap);
			& > .title {
				text-align: left;
			}
		}
		@include maxMedia(sm) {
			& > .title {
				margin-top: var(--sp-md);
				text-align: center;
			}
		}
	}
}
.ctg-item {
	text-align: center;
	padding-block: var(--pd);
	padding-inline: calc(var(--pd) / 2);
	background: var(--bg);
	border-radius: var(--rd-2);
	width: calc(100% / var(--items) - var(--gap) + var(--gap) / var(--items));

	& > * + * {
		margin-top: 1.25rem;
	}
}
.ctg-img {
	max-width: var(--iconSz);
	width: 100%;
	margin-inline: auto;
}
.ctg-text {
	text-transform: uppercase;
	color: var(--clr-title);
	font-weight: 300;
	line-height: 1.42;
	font-size: rem(14);
	@include lines(2);
}
.ctg-sup {
	color: var(--clr-title);
	font-weight: 300;
	line-height: 1.38;
	font-size: rem(13);
	@include lines(2);
	margin-top: rem(8);
}

@include minMedia(sl) {
	.ctg-item {
		aspect-ratio: 1.6;
		height: 100%;
		@include flexCenter;
		flex-direction: column;
	}
}

@include maxMedia(lg) {
	.ctg-items {
		--items: 4;
	}
}

@include maxMedia(md) {
	.ctg-items {
		--items: 3;
	}
}
@include maxMedia(sm) {
	.ctg-items {
		--items: 2;
		--pd: 1rem;
		--gap: 0.65rem;
	}
}
