@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
}
/* CormorantUnicase */
@font-face {
    font-family: 'CormorantUnicase';
    src: url('../fonts/CormorantUnicase/CormorantUnicase-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: 'CormorantUnicase';
    src: url('../fonts/CormorantUnicase/CormorantUnicase-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: 'CormorantUnicase';
    src: url('../fonts/CormorantUnicase/CormorantUnicase-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: 'CormorantUnicase';
    src: url('../fonts/CormorantUnicase/CormorantUnicase-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
}