//@import "../parts/mixin";

/*--------------------*/
/*  Header            */
/*--------------------*/
:root {
    --h-height: 4.625rem;
    --h-logo-width: 6.25rem;
    --h-icon: 2rem;
    --h-icon-num: 1.25rem;
}

header {
    height: var(--h-height);
    &.no-banner {
        .h-wrap {
            --h-bg: #f5f1ed;
            --h-border: var(--clr-primary);
        }
        .h-logo {
            img {
                filter: invert(1);
            }
        }
    }
    &.open-menu {
        .h-wrap {
            --h-bg: #f5f1ed;
            --h-border: var(--clr-primary);
        }
        .h-logo {
            img {
                filter: invert(1);
            }
        }
    }
}

:has(#wpadminbar) {
    .h-wrap {
        top: 32px;
        @media screen and ( max-width: 782px ) {
            top: 46px;
        }
    }
}

.h-wrap {
    --h-bg: linear-gradient(90deg, rgba(28, 28, 28, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
    --h-border: var(--clr-border-2);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--h-bg);
    backdrop-filter: blur(2px);
    transition: var(--transition-1);
    border-bottom: 0.5px solid var(--h-border);
}

header.scrolled {
    .h-wrap {
        --h-bg: #f5f1ed;
        --h-border: var(--clr-primary);
    }
    .h-logo {
        img {
            filter: invert(1);
        }
    }
}

.h-action {
    border-right: rem(1) solid var(--h-border);
    border-left: rem(1) solid var(--h-border);
    height: 100%;
    @include flexCenter;
    padding-inline: 1.5rem;
}

.h-inner {
    position: relative;
    width: 100%;
    height: var(--h-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h-logo {
    display: block;
    width: var(--h-logo-width);
    flex-shrink: 0;
    margin-right: auto;

    img {
        display: block;
        max-width: 100%;
        transition: var(--transition-1);
    }
}

.sub-menu,
.h-menu-overlay {
    display: none;
}

.h-burger {
    --burger-size: 2rem;
    margin-inline: 1.5rem 0.5rem;
    position: relative;
    display: block;
    width: var(--burger-size);
    height: var(--burger-size);
    cursor: pointer;

    i {
        display: inline-block;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        height: 1px;
        background-color: var(--h-border);
        transition: var(--transition-1);

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: rem(-6);
            width: 100%;
            height: 100%;
            background-color: var(--h-border);
            transition: var(--transition-1);
        }
        &:before {
            opacity: 0;
        }

        &:after {
            top: rem(9);
        }
    }
}

.h-menu {
    position: fixed;
    z-index: 101;
    // top: calc(var(--h-height) + 1px);
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: var(--cubic-1);
    width: 100%;
    // min-height: calc(var(--svh) - var(--h-height));
    min-height: var(--svh);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 1rem;
    background-image: url('../img/horse-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        > * + * {
            margin-top: 2rem;
        }
    }
    .btn-close {
        align-self: flex-end;
        @include hide-sm;
    }
}

.h-contacts {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    --iconSz: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid #dac2b6;
    border-top: 0.5px solid #dac2b6;
    font-size: var(--h5);
    font-weight: 500;
    color: var(--clr-primary);
    font-family: var(--ff-2);
    text-transform: uppercase;
    width: calc(100% + calc(var(--bs-gutter-x) * 2));
    margin-left: calc(-1 * var(--bs-gutter-x));
    ul {
        display: flex;
    }
    &-link,
    li {
        border-right: 0.5px solid #dac2b6;
        border-left: 0.5px solid #dac2b6;
        padding: 1.5rem;
        img {
            flex: 0 0 var(--iconSz);
            height: var(--iconSz);
            width: var(--iconSz);
        }
        &.type-2 {
            flex: 1 1 auto;
        }
    }
}
.h-links {
    margin-block: auto;

    & > ul {
        display: inline-flex;
        align-items: flex-start;
        flex-direction: column;
        gap: clamp(1rem, -0.9942rem + 5.5491vw, 4rem); // 64 - 16px;

        & > li {
            --iconSz: 1rem;
            position: relative;
            padding-left: calc(var(--iconSz) + 2rem);
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0.5rem;
                width: var(--iconSz);
                height: var(--iconSz);
                //background-image: url('../img/icons/link-decor.svg');
                background-size: contain;
                background-position: center;
                transition: var(--transition-1);
            }

            & > a,
            & > .menu-item-has-children b {
                font-family: var(--ff-2);
                font-size: var(--h4);
                line-height: 1.15;
                font-weight: 500;
                color: var(--clr-title);
                text-transform: uppercase;
            }
        }
    }
}
.menu-item-has-children {
    & > * + * {
        margin-top: 1rem;
    }
}
.sub-menu {
    gap: rem(12);
    display: flex;
    line-height: 1.42;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    > a {
        font-family: var(--ff-1);
        font-size: var(--text-sm);
    }
}

.h-menu-overlay {
    display: block;
    position: fixed;
    z-index: 99;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    // background-color: rgba(19, 30, 41, 0.8);
    transition: var(--transition-1);
}

// open menu
.open-menu {
    @include maxMedia(md) {
        .h-burger {
            i {
                background-color: transparent;
                top: 45%;

                &:before,
                &:after {
                    top: 0;
                    transform-origin: center;
                    transform: rotate(-45deg);
                }

                &:after {
                    transform: rotate(45deg);
                }

                &:before {
                    opacity: 1;
                }
            }
        }
    }

    .h-menu {
        transform: translateX(0%);
        opacity: 1;
    }

    .h-menu-overlay {
        opacity: 1;
        visibility: visible;
    }
}
@include minMedia(sl) {
    :root {
        --h-logo-width: 10.25rem;
    }
}

@include minMedia(xl) {
    .h-links li:hover {
        &::before {
            transform: rotate(90deg);
        }
    }
    .h-links a:hover {
        color: var(--clr-primary);
    }
}

@include maxMedia(xl) {
    :root {
        --h-height: 3.75rem;
    }
    .h-menu {
        background-image: url('../img/horse-bg-mb.png');
    }

    // header.hide .h-wrap {
    //     transform: translateY(calc(var(--h-height) * -1));
    // }
}

@include maxMedia(sm) {
    .h-menu {
        min-height: calc(var(--svh) - var(--h-height));
        top: calc(var(--h-height) + 1px);
    }
    .h-links {
        ul {
            display: flex;
            align-items: center;

            li {
                padding-left: 0;
                padding-top: calc(var(--iconSz) + 1rem);
                text-align: center;
                &::before {
                    content: '';
                    left: 50%;
                    top: 0;
                    transform: translateX(-50%);
                }
            }
        }
    }
    .sub-menu {
        align-items: center;
    }
}

header {
    opacity: 1;
    transition: 0.15s linear opacity;
}
