@import 'parts/mixin';
@import 'parts/global';
@import 'parts/variables';

:root {
    --text-lg: 1rem;
    --text: 1rem;
    --text-sm: 1rem;
    font-size: 16px;
}

html :where(.wp-block) {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.block-editor-block-list__layout {
    overflow: hidden;

    .block-editor-block-list__block {
        position: initial;

    }
}

.acf-block-preview {
    min-width: 1200px;
}

:where(.acf-block-preview) {
    @import 'parts/normalize';
    @import 'parts/typography';
    @import 'parts/fonts';
    @import 'parts/accordion';
    @import 'parts/button';
    @import 'parts/ctg';

    @import 'swiper/wrapper';
    @import 'swiper/slide';
    @import 'swiper/buttons';
    @import 'swiper/pagination';
    @import 'swiper/effect-main';

    .container,
    .container-fluid {
        max-width: 100%;
        padding-inline: 0!important;
    }

    section.section {
        opacity: 1;

        &[disabled] {
            position: relative;
            filter: grayscale(1);
            opacity: .3;

            &:before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 2;
            }
        }
    }

    .banner-section {
        .banner-align {
            padding-bottom: 40px;
            height: 700px;
        }
        h1 {
            font-size: 72px;
            margin-block: 0;
        }

        .text {
            margin-top: .5rem;
        }
    }
}

